<launch>
    <arg name="namespace_prefix" default="iiwa_handeyecalibration" />
    <arg name="start_simulator" default="false" />


    <!-- start the kinect camera -->
    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch">
        <arg name="publish_tf" value="true" />
    </include>

    <arg name="eye_on_hand" default="false" />

    <!-- set tf links when eye on base-->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0.01 0 0 0 0 0 0.01 iiwa_link_ee tracking_marker 100" if="$(eval eye_on_hand == false)"/>      
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="-1 0 1 0 0 0 1 tracking_marker tracking_origin 100" if="$(eval eye_on_hand == false)" />  

    <!-- set tf links when eye on hand-->
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="1 0 0 0 0 0 0.01 iiwa_link_0 tracking_marker 100" if="$(eval eye_on_hand == true)"/>      
    <node pkg="tf" type="static_transform_publisher" name="link2_broadcaster" args="-1 0 1 0 0 0 1 tracking_marker tracking_origin 100" if="$(eval eye_on_hand == true)" />  


    <!-- tracking simulation frequency and noise parameters -->
    <param name="frequency" value="10" />
    <param name="translation_noise_stdev" value="0.001" />
    <param name="rotation_noise_stdev" value="0.0001" />

    <arg name="markerId" default="35"/>
    <arg name="markerSize" default="0.10"/> <!-- in meter -->
   

    <arg name="robot_base_frame" value="iiwa_link_0" />
    <arg name="robot_effector_frame" value="iiwa_link_ee" />
    <arg name="tracking_base_frame" value="tracking_origin" />
    <arg name="tracking_marker_frame" value="tracking_marker" />


    <!-- start ArUco -->
    <node name="aruco_tracker" pkg="aruco_ros" type="single">
        <remap from="/camera_info" to="/kinect2/qhd/camera_info" />
        <remap from="/image" to="/kinect2/qhd/image_color" />
        <param name="image_is_rectified" value="true"/>
        <param name="marker_size"        value="$(arg markerSize)"/>
        <param name="marker_id"          value="$(arg markerId)"/>
        <param name="reference_frame"    value="$(arg tracking_base_frame)"/>
        <param name="camera_frame"       value="$(arg tracking_base_frame)"/>
        <param name="marker_frame"       value="$(arg tracking_marker_frame)" />
    </node>






</launch>